<th:block th:each="cmmt : ${cmmtList}">
    <!-- 댓글인 경우-->
    <th:block th:if="${cmmt.cNo == cmmt.parentNo}"></th:block>
        <div class="cmmt-box">
    <!-- 답글인 경우-->
    <th:block th:if="${cmmt.cNo != cmmt.parentNo}">
        <div class="cmmt-box answer">
    </th:block>
        <div class="inner">
            <div class="top">
                <span class="cmmt-writer" th:text="${cmmt.writer}"></span>
                <span class="cmmt-date" th:text="${cmmt.regDate}"></span>
                <div class="item">
                    <button class="btn-cmmt-update" th:data="${cmmt.cNo}">수정</button>
                    <button class="btn-cmmt-delete" th:onclick="|deleteCmmt(${cmmt.cNo})|">삭제</button>
                </div>
            </div>
            <p class="cmmt-content" th:text="${cmmt.content}"></p>
            <button class="btn-reply-content" th:onclick="|insertAnswer(this, ${cmmt.cNo})|">답글</button>
        </div>
    </div>
</th:block>

