<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.dohee.board.mapper.CommentMapper">

    <!-- 종속된 댓글 목록 조회 -->
    <select id="cmmtList" resultType="Comment">
        SELECT *
        FROM comment
        WHERE board_no = #{boardNo}
        ORDER BY reg_date ASC
    </select>

    <!-- 댓글 등록 -->
    <insert id="insert">
        INSERT INTO comment (board_no, parent_no, writer, content)
        VALUES (#{boardNo}, #{parentNo}, #{writer}, #{content})
    </insert>

    <!-- 댓글 수정 -->
    <update id="update">
        UPDATE comment
        SET writer = #{writer}
        ,content = #{content}
        ,upd_date = now()
        WHERE c_no = #{cNo}
    </update>

    <!-- 댓글 삭제 -->
    <delete id="delete">
        DELETE FROM comment
        WHERE c_no = #{no}
    </delete>

</mapper>